<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog Website</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <div class="container">
            <form action="/gotocart" method="get">
                <h1>Catalog Website</h1>
                <li>
                        <button type="submit">Cart</button>
                </li>
                </nav>
            </form>
        </div>
    </header>
    <main>
        <div class="container">
            <h2>Catalog</h2>
            <div class="product-list">
                <% products.forEach(product=> { %>
                    <section class="product">
                        <form action="/cart" method="post">
                            <img src="<%= product.productimg %>" alt="<%= product.name %>">
                            <div class="product-details">
                                <h2>
                                    <%= product.productname %>
                                </h2>
                                <p> DON'T BUY FROM HERE </p>
                                <p>Price: $<%= product.productnum %>
                                </p>
                                <input type="hidden" name="productId" value="<%= product.productid %>">
                                <button type="submit">Add to Cart</button>
                            </div>
                        </form>
                    </section
                    <% }); %>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Catalog Website. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>